<!doctype html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
<header>
    <h1><%= title %></h1>
    <%- include('./partials/nav.ejs') %>
</header>

<section>
    <h2>Contact Page</h2>
</section>

</body>
</html>